.content{
	border: solid 1px red;
	/*padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 40px;
	padding-left: 40px;*/
	padding: 20px;
	margin-top: 10px;
	margin-left: 500px;
	margin-bottom: 350px;
	margin-right: 75px;
	width: 175px;
}